.logo{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 60px;
    top: 40px;
}

.title{
    position: absolute;
    width: 352px;
    height: 84px;
    left: 260px;
    top: 98px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;

    color: #000000;
}

.searchInput{
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    /*width: 186px;*/
    height: 56px;
    left: 1280px;
    top: 112px;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #B2B2B2;
}
.header{
    position: absolute;
    width: 552px;
    height: 200px;
    left: 60px;
    top: 40px;
}








