@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.appWrapper {
  position: relative;
  width: 1920px;
  height: 1080px;
  background: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

